button {
    border: 1px solid antiquewhite;
    color: antiquewhite;
    border-radius: 5px;
    background-color: transparent;
    padding: 8px;
    margin: 8px;
}

button:hover{
    scale: 1.1;
    background-color: rgba(226, 226, 226, 0.388);
    cursor: pointer;
}