button {
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
    padding: 8px;
    margin: 8px;
}

button:hover{
    scale: 1.1;
    background-color: rgb(218, 216, 216);
    cursor: pointer;
}