.form {
    display: flex;
    flex-direction: column;
}

.form div {
    width: max-content;
    height: max-content;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
}

button {
    max-width: 100px;
    align-self: flex-end;
    margin: 10px 0 10px 0;
}

@media (max-width: 1200px) {
    .form div {
        flex-direction: column;
    }
    
    .form {
        align-items: center;
    }
}