.row {
    height: 40px;
}

.td {
    border: 1px solid antiquewhite;
    width: 25%;
}

.th {
    font-weight: bold;
    border: 1px solid antiquewhite;
    width: 25%;
}

table {
    width: 100%;
    border-collapse: collapse;
}